#cursor-character {
    position: fixed;
    width: clamp(30px, 5vw, 55px);
    max-width: 60px;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.cursor-hidden {
    display: none !important;
}

.icon-disabled {
    color:rgb(50, 29, 184) !important;
}