.rss-link {
    color:rgb(230, 230, 235);
    font-size: 1.8rem;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.rss-link:hover {
    color: #3a097a;
    transform: scale(1.2);
}
